# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
coverage/

# Environment variables (SENSITIVE)
.env
.env.local
.env.*.local

# Framework/Tooling caches
.vercel/
.next/
.expo/
.parcel-cache
.eslintcache
tsconfig.tsbuildinfo

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Project specific
tmp/
tmp/uploads/
aplikasi-mobile/node_modules/
web-admin/node_modules/
harga-backend/node_modules/

