# build caches
dist/
build/
.vite/
.cache/

# uploads & temp
tmp/
tmp/uploads/

# env & secrets
.env
.env.*
!.env.example

# local secrets folder
secrets/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# dependencies
/vendor/

# temp files
*.dll
php_mongodb-*-x86_64/